* { padding: 0; margin: 0; }
body {
	padding: 3.125em 0;
	background-color: #fff;
	font-size: 16px;
	font-family: 'Avenir Next',"Microsoft Yahei";
	color: #555;
	-webkit-font-smoothing: antialiased;
}
.slider .main .main-i,
.slider .main,
.slider {
	width: 100%;
	height: 25em;
	position: relative;
}
.slider .main {
	overflow: hidden;
}
.slider .main .main-i {
	position: absolute;
	top: 0;
	right: 50%;
	opacity: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.slider .main .main_right {
	right: -50%;
}
.slider .main .main-i img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
}
.slider .main .main-i .caption {
	position: absolute;
	top: 30%;
	right: 63%;
	opacity: 1;
	z-index: 2;
}
.slider .main .main-i .caption h2 {
	font-size: 2.5em;
	line-height: 1.25em;
	color: #b5b5b5;
	text-align: right;
	font-weight: 100;
	margin-right: -1.125em;
}
.slider .main .main-i .caption h3 {
	font-size: 4.375em;
	line-height: 1em;
	color: #000;
	text-align: right;
	font-weight: 100;
	margin-right: .643em;
	font-family: 'Open Sans Condensed',"Microsoft Yahei";
}
.slider .main .main-i .caption h2,
.slider .main .main-i .caption h3 {
	opacity: 0;
	-webkit-transition: all 1s .8s;
	-moz-transition: all 1s .8s;
	-o-transition: all 1s .8s;
	transition: all 1s .8s;
}
.slider .ctrl {
	width: 100%;
	height: .8125em;
	line-height: .8125em;
	position: absolute;
	left: 0;
	bottom: -.8125em;
	z-index: 2;
	text-align: center;
}
.slider .ctrl .ctrl-i {
	position: relative;
	display: inline-block;
	width: 9.375em;
	height: .8125em;
	margin-left: 1px;
	background-color: #666;
}
.slider .ctrl .ctrl-i:hover {
	background-color: #f0f0f0;
}
.slider .ctrl .ctrl-i img {
	position: absolute;
	left: 0;
	bottom: 1.875em;
	width: 100%;
	border: none;
	opacity: 0;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.slider .ctrl .ctrl-i:hover img {
	opacity: 1;
	bottom: 1.875em;
}
.slider .ctrl .ctrl-i_active:hover,
.slider .ctrl .ctrl-i_active {
	background-color: #000;
}
.slider .ctrl .ctrl-i_active:hover img {
	opacity: 0;
}
#main_background,
.slider .main .main-i_active {
	opacity: 1;
	right: 0;
	z-index: 2;
}
#main_background {
	z-index: 0;
}
.slider .main .main-i_active .caption h2,
.slider .main .main-i_active .caption h3 {
	opacity: 1;
	margin-right: 0;
}